.App{
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,h2{
  font-family: 'Arial';
  margin: 0;
}

.App h1{
  font-weight: 200;
}

.linha{
  display: flex;
}